{
    "presets": [
        [
            "@babel/env",
            {
                "modules": false
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-transform-parameters",
        "@babel/plugin-transform-arrow-functions"
    ]
}
