#mn_filter_shelf,
#mn_filter_shelf * {
    box-sizing: border-box;
}

#mn_filter_shelf {
    position: fixed;
    z-index: 200;
    right: 0;
    bottom: -100px;
    left: 0;
    display: block;
    height: 100px;
    padding: 5px;
    padding-bottom: 0;
    transition: bottom 0.3s ease-in;
    background-color: #fff;
}
.plp_var_a_loaded #mn_filter_shelf {
    bottom: 0;
    transition: bottom 0.3s 0.3s ease-out;
}
.plp_var_a_loaded .gui-nav-open ~ #mn_filter_shelf,
.plp_var_a_loaded .show-right #mn_filter_shelf,
.plp_var_a_loaded .show-left #mn_filter_shelf {
    bottom: -100px;
    transition: bottom 0.3s ease-in;
}
.plp_var_a_loaded a#scrollUp,
.plp_var_a_loaded a.hd-backtotop {
    bottom: 120px;
}

.plp_var_a_loaded #refineControl .lab-refine {
    font-size: 14px !important;
    line-height: 42px;
    display: inline-block !important;
}
.plp_var_a_loaded #refineControl .lab-filter {
    display: none !important;
}

.plp_var_a_loaded #controlWrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: auto;
    margin: 0;
}

.plp_var_a_loaded #controlWrapper .customSortBy {
    display: block;
    flex-basis: 100%;
    order: 1;
    -ms-flex-preferred-size: 100%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
}

.plp_var_a_loaded #controlWrapper #refineControl {
    display: block;
    flex-basis: 100% !important;
    width: 100% !important;
    color: #fff;
    border: 0;
    background-color: #000;
    -ms-flex-preferred-size: 100% !important;
}

.plp_var_a_loaded #controlWrapper .jdwOptionHolder {
    position: relative;
    border: 0;
}

#mn_fake_selectbox {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    pointer-events: none;
    background-color: #fff;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
}

#mn_fake_selectbox p {
    font-family: "CircularBold", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
}
